{% extends "base.html" %}

{% block title %}Age Calculator – Calculate Your Exact Age | PyToolsHub{% endblock %}

{% block meta %}
<meta name="description" content="Free Age Calculator tool to calculate your exact age in years, months, and days. Fast, accurate, and easy to use.">
{% endblock %}


{% block content %}

<h2>Age Calculator</h2>

<form method="POST">
    <label>Enter Date of Birth:</label>
    <input type="date" name="dob" required>
    <button type="submit">Calculate Age</button>
</form>

{% if age %}
    <h3>Your Age:</h3>
    <p>{{ age.years }} years, {{ age.months }} months, {{ age.days }} days</p>
{% endif %}

{% endblock %}
